.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.about img {
    max-height: 50vh;
    margin-bottom: 40px;
}
.about-text {
    width: 40vw;
    font-size: 20px;
    white-space: pre-line;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}
.about-text br {
    content: '';
    height: 40px;
    display: block;
}
