.contact-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    justify-content: flex-start;
}
.contact-container a {
    font-family: Helvetica-Bold;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
.arrows-desc {
    position: fixed;
    bottom: calc(80px + 42vh);
    width: 100%;
    left: calc(5vw + 20px)
}
@media (max-width: 1000px) {
    .contact-container {
        padding-top: 80px;
    }
    .contact-container p {
        font-size: 12px;
    }
    .arrows-desc {
        font-size: 12px;
        text-align: center;
        padding-right: 100px;
        left: auto;
    }
}
