.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container a {
    font-family: Helvetica-Bold;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
