.error-404 {
    font-family: Helvetica-Bold;
    font-size: 15rem;
    text-align: center;
    width: 100%;
}
.error-404-container {
    height: calc(100vh - 230px);
    display: flex;
    align-items: center;
}