.Home-carousel-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.Home-carousel {
    --step: 0;

    display: flex;
    width: 100%;
    transform: translateX(calc(-100% * var(--step)));
    transition: transform 0.5s ease;
    flex-wrap: nowrap;
}
.Home-carousel a {
    width: 100%;
    cursor: pointer;
    min-width: 100%;
}
.Home-carousel img {
    max-width: 100%;
}
.Home-carousel-buttons {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
}
.Home-carousel-buttons div:hover,
.Home-carousel-buttons .active {
    border-width: 3px;
}
.Home-carousel-buttons div {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px var(--beige) solid;
    transition: border 0.1s;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .Home-carousel img {
        max-height: calc(100vh - 230px);
        max-width: none;
    }
    .Home-carousel a {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
}
