.Home-carousel-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.Home-carousel {
    --step: 0;

    display: flex;
    width: 100%;
    gap: 10px;
    transform: translateX(calc(-100vw * var(--step)));
    transition: transform 0.5s ease;
}
.Home-carousel img {
    width: 100%;
    min-width: 100%;
    cursor: pointer;
}
.Home-carousel-buttons {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
}
.Home-carousel-buttons div:hover,
.Home-carousel-buttons .active {
    border-width: 3px;
}
.Home-carousel-buttons div {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px var(--beige) solid;
    transition: border 0.1s;
    cursor: pointer;
}
