.Home-carousel-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.Home-carousel {
    --step: 0;

    display: flex;
    width: 100%;
    transform: translateX(calc((21px - 100vw) * var(--step)));
    transition: transform 0.5s ease;
}
.Home-carousel img {
    width: 100%;
    min-width: 100%;
}
.Home-carousel-buttons {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
}
.Home-carousel-buttons div:hover,
.Home-carousel-buttons .active {
    border-width: 4px;
}
.Home-carousel-buttons div {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    border: 1px black solid;
    transition: border 0.3s;
    cursor: pointer;
}
