* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NotoSans-ExtraLight;
    font-weight: 700;
    font-size: 12px;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--beige);
}
::-webkit-scrollbar-track {
    background-color: transparent;
    padding: 2px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0px 0px 0px 1px var(--beige);
    -moz-box-shadow: inset 0px 0px 0px 1px var(--beige);
    box-shadow: inset 0px 0px 0px 1px var(--beige);
    border-radius: 5px;
}
:root {
    --beige: #ebebe8;
}
a {
    color: black;
    text-decoration: none;
}
b {
    font-weight: bold;
    font-family: NotoSans-Bold;
}
#root {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--beige);
    overflow-x: hidden;
}
.row {
    display: flex;
}
.col {
    width: 100%;
}
.d-none {
    display: none !important;
}
.h-none {
    transform: scaleY(0) !important;
}
.d-abs {
    position: absolute !important;
}
.pointer {
    cursor: pointer;
}
.container {
    min-height: calc(100vh - 190px);
    position: relative;
}

@media (max-width: 1000px) {
    .container {
        min-height: calc(100vh - 180px);
    }
}

@font-face {
    font-family: 'NotoSans-Bold';
    src: local('HelveticaNeue-Bold'), url('../assets/fonts/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSans-ExtraLight';
    src: local('NotoSans-ExtraLight'), url('../assets/fonts/NotoSans-ExtraLight.ttf') format('truetype');
}

@import './forms.css';
