.arrow {
    --dimension: 20px;
    --direction: 1px 1px 0 0;
    top: calc(var(--dimension) / 4);
    position: relative;
    height: var(--dimension);
    width: var(--dimension);
    border: solid black 1px;
    border-width: var(--direction);
    transform: rotate(-45deg);
    transition: border-width .1s;
}
.arrow:hover {
    border-width: var(--hover);
}