
.carousel-element {
    padding: 0 120px;
}
.children-pic-container {
    display: none;
}
.separator {
    min-width: 1px;
    min-height: 60vh;
    background-color: black;
}
.carousel-element-active {
    
}
.carousel-element-active .children-pic-container {
    display: block;
}