.carousel-container {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    min-height: calc(100vh - 192px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.carousel-div {
    padding: 20px 0;
    width: 100%;
    position: relative;
}
.white {
    min-width: 1000px;
}
.carousel {
    --step-width: 0;
    --current-width: 0;

    transform: translateX(calc(var(--step-width) + (-21px + 100vw - var(--current-width)) / 2));
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}
.main-pic {
    cursor: pointer;
    max-width: 520px;
    max-height: 500px;
    width: 520px;
    object-fit: contain;
}
.side {
    width: 30vw;
    position: absolute;
    top: 0;
    height: 100%;
    background: linear-gradient(to right, var(--beige), rgba(235, 235, 232, 0));
    cursor: pointer;
    display: flex;
}
.right {
    transform: scale(-1, 1);
    right: 0;
}
.click-drag {
    text-transform: uppercase;
    font-size: 10px;
    font-family: NotoSans-Bold;
    text-align: right;
    width: 85%;
    height: 15px;
    position: relative;
    top: -15px;
}
.carousel-element {
    padding: 20px 120px;
    transition: filter 0.3s;
}
.children-pic-container {
    max-width: 1700px;
    display: flex;
    margin: auto;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;
    transform-origin: top;
    margin-top: 90px;
    position: relative;
}
.children-cache {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--beige);
    transition: transform 0.5s;
    transform: scaleY(0);
    transform-origin: bottom;
}
.hidden .children-cache {
    transform: scaleY(1);
}
.child-pic img {
    max-width: 40vw;
}
.separator {
    min-width: 1px;
    min-height: 60vh;
    background-color: black;
    transition: min-height 0.3s;
}
.big {
    min-height: 67vh;
}
.carousel-element-active .main-pic {
    z-index: 2;
    cursor: pointer;
}
.blur {
    filter: blur(0.6rem);
}
.main-pic-container {
    transition: 0.3s transform;
}
.carousel-cross {
    position: absolute;
    right: 10vw;
    top: 10px;
    z-index: 2;
}
.text-container {
    padding-top: 0;
    max-height: 0;
    opacity: 0;
    transition: opacity 0.2s;
    width: 100%;
    transition: max-height 0.3s, padding-top 0.3s;
}
.focused .text-container {
    opacity: 1;
    padding-top: 19px;
    max-height: 50px;
}
.text-container h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-family: NotoSans-Bold;
}
.text-container p {
    padding-top: 4px;
    font-size: 11px;
}

@media (min-width: 1000px) {
    .focused .main-pic-container {
        transform: scale(1.1);
    }
}
@media (max-width: 1000px) {
    .carousel {
        transform: translateX(calc(var(--step-width) + (100vw - var(--current-width)) / 2));
    }
    .carousel-container {
        min-height: calc(100vh - 150px);
        padding: 0;
    }
    .carousel-div {
        padding: 0;
    }
    .carousel-element {
        max-width: 100vw;
        padding: 20px 5vw;
    }
    .main-pic-container {
        display: flex;
        align-content: center;
        flex-direction: column;
    }
    .main-pic-container img {
        max-width: 90vw;
        min-height: 60vh;
        object-fit: cover;
    }
    .text-container {
        display: flex;
        gap: 20px;
    }
    .text-container h2 {
        width: 100%;
    }
    .separator {
        display: none;
    }
    .click-drag {
        width: 100%;
        margin: 0;
        text-align: center;
        bottom: 40px;
        top: auto;
    }
    .side {
        bottom: 0;
        width: 50%;
        background-color: red;
        position: fixed;
        background: var(--beige);
        justify-content: flex-end;
        padding: 10px 30px;
        height: 50px;
        top: auto;
    }
    .children-pic-container {
        margin-top: 50px;
    }
    .child-pic img {
        max-width: 90vw;
    }
    .children-pic-container > .child-pic:nth-child(-n + 3) img {
        max-width: calc(45vw - 5px);
    }
    .carousel-cross {
        top: 18px;
    }
}
