.cross {
    width: 30px;
    height: 1px;
    background-color: black;
    transform: rotate(45deg);
    transition: height 0.2s;
}
.cross::after {
    content: '';
    width: 30px;
    height: 1px;
    background-color: black;
    transform: rotate(90deg);
    position: absolute;
    transition: height 0.2s;
}
.cross-container:hover .cross,
.cross-container:hover .cross::after {
    height: 3px;
}
.cross-container {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
