.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    text-transform: uppercase;
    height: 110px;
    align-items: center;
    padding: 0 5vw;
    z-index: 2;
    position: relative;
}
.logo-second:first-child {
    top: 30px;
}
.logo-second {
    position: absolute;
    font-size: 12px;
}
.logo {
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    font-family: Helvetica-Medium;
}
.navbar {
    display: flex;
    gap: 50px;
    font-size: 12px;
}
.navbar a {
    list-style: none;
    text-decoration: none;
    color: black;
    z-index: 2;
}
.navbar .active {
    font-family: Helvetica-Medium;
}
.burger-container {
    width: 32px;
    border-radius: 100%;
    height: 32px;
    padding: 5px;
    align-items: center;
    display: none;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
    flex-direction: column;
    transition: transform 0.2s;
}
.burger-container.active {
    transform: rotate(90deg);
}
.burger-container.active .burger {
    height: 3px;
}
.burger {
    background-color: black;
    width: 30px;
    height: 1px;
    transition: height 0.2s;
}

@media (max-width: 1000px) {
    .header {
        height: 100px;
    }
    .logo {
        font-size: 18px;
    }
    .logo-second {
        font-size: 13px;
    }
    .burger-container {
        display: flex;
    }
    .navbar {
        display: none;
    }
    .navbar.active {
        display: flex;
        flex-direction: column;
        z-index: 10;
        position: fixed;
        right: 5vw;
        top: 100px;
        gap: 30px;
        padding: 30px;
        align-items: center;
    }
    .navbar.active:before {
        content: '';
        position: absolute;
        top: 0;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        background-color: rgba(182, 182, 182, 0.2);
    }
    .logo-container-home,
    .logo-container-home .logo-second {
        width: 100%;
        right: 0;
        text-align: center;
    }
    .logo-container-home .logo-second:first-child {
        top: 23px;
    }
    .logo-container-home .arrow-container {
        background: linear-gradient(var(--beige), transparent);
        z-index: 10;
        width: 100vw;
        right: 0;
        padding-top: 20px;
        height: 100px;
        display: flex;
        justify-content: center;
        top: 149px;
        position: absolute;
    }
    .logo-container-home .arrow.active {
        border-width: 0 0 2px 2px;
    }
    .navbar.active.navbar-home:before {
        border-radius: 30vw;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .navbar.active.navbar-home {
        width: 100vw;
        position: fixed;
        height: 600px;
        right: 0;
        justify-content: space-evenly;
        bottom: 0;
        top: calc(100vh - 600px);
    }
    .header.home {
        height: 150px;
    }
    .header.home .logo-second:first-child {
        top: 50px;
    }
}
